<%= link_to "Wikinimous", articles_path %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ul>
<br>
<%= link_to "New article", new_article_path %>
